.jumbotron{
    font-family: 'Orbitron', sans-serif;
}
.comparable{
    display:block;
    margin-bottom:1em;
    font:x-large;
}
.comparison{
    display:inline-block;
}
.container-fluid{
    max-width:1200px;
}